<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talk_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1097,362}</string>
                <key>spriteSourceSize</key>
                <string>{1097,362}</string>
                <key>textureRect</key>
                <string>{{0,0},{1097,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talk_window_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{1097,0},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talk_window_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,114}</string>
                <key>spriteSourceSize</key>
                <string>{184,114}</string>
                <key>textureRect</key>
                <string>{{1142,0},{184,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kaiwa.png</string>
            <key>size</key>
            <string>{1326,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32006f0d3ce14c6e187856fd2624d659:4129f0d9a49b0f3fe75e7881588c73d3:dcb6f71bef651be51235d0df77770e9c$</string>
            <key>textureFileName</key>
            <string>kaiwa.png</string>
        </dict>
    </dict>
</plist>
