<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,64}</string>
                <key>spriteSourceSize</key>
                <string>{262,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{262,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,78}</string>
                <key>spriteSourceSize</key>
                <string>{276,78}</string>
                <key>textureRect</key>
                <string>{{262,0},{276,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_blue_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,343}</string>
                <key>spriteSourceSize</key>
                <string>{275,343}</string>
                <key>textureRect</key>
                <string>{{275,321},{275,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_blue_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,371}</string>
                <key>spriteSourceSize</key>
                <string>{309,371}</string>
                <key>textureRect</key>
                <string>{{0,664},{309,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_green_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,343}</string>
                <key>spriteSourceSize</key>
                <string>{275,343}</string>
                <key>textureRect</key>
                <string>{{550,321},{275,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_green_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,371}</string>
                <key>spriteSourceSize</key>
                <string>{309,371}</string>
                <key>textureRect</key>
                <string>{{309,664},{309,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,337}</string>
                <key>spriteSourceSize</key>
                <string>{275,337}</string>
                <key>textureRect</key>
                <string>{{0,321},{275,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,371}</string>
                <key>spriteSourceSize</key>
                <string>{309,371}</string>
                <key>textureRect</key>
                <string>{{0,1035},{309,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{121,82},{121,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monogatari_sentaku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,82}</string>
                <key>spriteSourceSize</key>
                <string>{345,82}</string>
                <key>textureRect</key>
                <string>{{538,0},{345,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monogatari_waku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,446}</string>
                <key>spriteSourceSize</key>
                <string>{477,446}</string>
                <key>textureRect</key>
                <string>{{309,1035},{477,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{0,82},{121,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_alice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,239}</string>
                <key>spriteSourceSize</key>
                <string>{493,239}</string>
                <key>textureRect</key>
                <string>{{242,82},{493,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monogatari.png</string>
            <key>size</key>
            <string>{883,1481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995cc10d4d888011d077412daf42fa8f:ffd5006e9cb61f6b950c746447eb486e:fd336041fd04b344dd2a3bde92769ec1$</string>
            <key>textureFileName</key>
            <string>monogatari.png</string>
        </dict>
    </dict>
</plist>
