<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>litire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,552}</string>
                <key>spriteSourceSize</key>
                <string>{630,552}</string>
                <key>textureRect</key>
                <string>{{1159,71},{630,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{452,71},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_modoru_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,67}</string>
                <key>spriteSourceSize</key>
                <string>{260,67}</string>
                <key>textureRect</key>
                <string>{{1036,0},{260,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_modoru_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,67}</string>
                <key>spriteSourceSize</key>
                <string>{260,67}</string>
                <key>textureRect</key>
                <string>{{776,0},{260,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_no_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,74}</string>
                <key>textureRect</key>
                <string>{{226,71},{226,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_no_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,74}</string>
                <key>textureRect</key>
                <string>{{0,71},{226,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_option_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,67}</string>
                <key>spriteSourceSize</key>
                <string>{256,67}</string>
                <key>textureRect</key>
                <string>{{1296,0},{256,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_option_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,67}</string>
                <key>spriteSourceSize</key>
                <string>{256,67}</string>
                <key>textureRect</key>
                <string>{{520,0},{256,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_quest_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,67}</string>
                <key>spriteSourceSize</key>
                <string>{260,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{260,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_quest_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,67}</string>
                <key>spriteSourceSize</key>
                <string>{260,67}</string>
                <key>textureRect</key>
                <string>{{260,0},{260,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,552}</string>
                <key>spriteSourceSize</key>
                <string>{630,552}</string>
                <key>textureRect</key>
                <string>{{529,71},{630,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_yes_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,71}</string>
                <key>spriteSourceSize</key>
                <string>{218,71}</string>
                <key>textureRect</key>
                <string>{{1552,0},{218,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pose_yes_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,71}</string>
                <key>spriteSourceSize</key>
                <string>{218,71}</string>
                <key>textureRect</key>
                <string>{{1770,0},{218,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pose.png</string>
            <key>size</key>
            <string>{1988,623}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e9191de273d6a7e959602bfdaf9fbba:9bcefced79f6953cf4e2613f9afa6403:8b6953fa6bcf18bb7238a065b7b990f3$</string>
            <key>textureFileName</key>
            <string>pose.png</string>
        </dict>
    </dict>
</plist>
