<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,165}</string>
                <key>spriteSourceSize</key>
                <string>{162,165}</string>
                <key>textureRect</key>
                <string>{{1064,0},{162,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{119,0},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,88}</string>
                <key>spriteSourceSize</key>
                <string>{44,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,36}</string>
                <key>spriteSourceSize</key>
                <string>{93,36}</string>
                <key>textureRect</key>
                <string>{{356,0},{93,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,147}</string>
                <key>spriteSourceSize</key>
                <string>{80,147}</string>
                <key>textureRect</key>
                <string>{{195,0},{80,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,147}</string>
                <key>spriteSourceSize</key>
                <string>{81,147}</string>
                <key>textureRect</key>
                <string>{{275,0},{81,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{44,0},{75,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,153}</string>
                <key>spriteSourceSize</key>
                <string>{111,153}</string>
                <key>textureRect</key>
                <string>{{449,0},{111,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,181}</string>
                <key>spriteSourceSize</key>
                <string>{178,181}</string>
                <key>textureRect</key>
                <string>{{1226,0},{178,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chapter_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,355}</string>
                <key>spriteSourceSize</key>
                <string>{735,355}</string>
                <key>textureRect</key>
                <string>{{735,538},{735,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chapter_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,355}</string>
                <key>spriteSourceSize</key>
                <string>{735,355}</string>
                <key>textureRect</key>
                <string>{{0,538},{735,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chapter_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{735,357}</string>
                <key>spriteSourceSize</key>
                <string>{735,357}</string>
                <key>textureRect</key>
                <string>{{656,181},{735,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_HP_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,12}</string>
                <key>spriteSourceSize</key>
                <string>{125,12}</string>
                <key>textureRect</key>
                <string>{{560,0},{125,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_HP_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,11}</string>
                <key>spriteSourceSize</key>
                <string>{126,11}</string>
                <key>textureRect</key>
                <string>{{685,0},{126,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_HP_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,11}</string>
                <key>spriteSourceSize</key>
                <string>{126,11}</string>
                <key>textureRect</key>
                <string>{{811,0},{126,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_HP_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,14}</string>
                <key>spriteSourceSize</key>
                <string>{127,14}</string>
                <key>textureRect</key>
                <string>{{937,0},{127,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,266}</string>
                <key>spriteSourceSize</key>
                <string>{656,266}</string>
                <key>textureRect</key>
                <string>{{0,181},{656,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sentou.png</string>
            <key>size</key>
            <string>{1470,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b100e635c7d28f1ecfba2666f433c4:15233f94bf6ebc37781474c2cc72ef17:c50f4cd78734afb0ce8bdbb453547625$</string>
            <key>textureFileName</key>
            <string>sentou.png</string>
        </dict>
    </dict>
</plist>
