<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,66}</string>
                <key>spriteSourceSize</key>
                <string>{182,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{182,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou_sentaku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,83}</string>
                <key>spriteSourceSize</key>
                <string>{350,83}</string>
                <key>textureRect</key>
                <string>{{182,0},{350,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou_waku.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,350}</string>
                <key>spriteSourceSize</key>
                <string>{637,350}</string>
                <key>textureRect</key>
                <string>{{0,634},{637,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou_waku_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,275}</string>
                <key>spriteSourceSize</key>
                <string>{571,275}</string>
                <key>textureRect</key>
                <string>{{0,84},{571,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou_waku_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,275}</string>
                <key>spriteSourceSize</key>
                <string>{571,275}</string>
                <key>textureRect</key>
                <string>{{0,359},{571,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_alice_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,84}</string>
                <key>spriteSourceSize</key>
                <string>{492,84}</string>
                <key>textureRect</key>
                <string>{{532,0},{492,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shou.png</string>
            <key>size</key>
            <string>{1024,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de207cb92eaba3d580379755c21a8b06:4e342e879cb935907070277d7aac8bcb:55e1a123fd2a72dd5325b491ad3520bb$</string>
            <key>textureFileName</key>
            <string>shou.png</string>
        </dict>
    </dict>
</plist>
